 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 .about-container {
     display: flex;
     flex-direction: column;
     /* align-items: center; */
     /* justify-content: center; */
     width: 100%;
     font-size: 1.5rem;
 }

 .hero-container {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     text-align: center;
     padding: 20px;
 }

 #about-title {
     font-size: 3.5rem;
     margin-bottom: 10px;
 }

 .about-desc {
     font-size: 1.5rem;
     margin-bottom: 20px;
 }

 .employees-img {
     width: 100%;
     height: auto;
     max-height: 90vh;
     object-fit: cover;
 }

 .info {
     padding: 40px 50px;
     font-size: 1.5rem;
     text-align: justify;
     /* margin: 30px 0; */
 }

 hr {
     background-color: black;
     margin:50px;
     height: 1px;
 }

 .care-about,
 .help-society {
     padding: 0px 80px;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     /* justify-content: center; */
     gap: 300px;
 }

 .care-about .text-container,
 .help-society .text-container {
     width: 100%;
     max-width: 600px;
     /* padding: 10px; */
 }

 .care-about .img-container,
 .help-society .img-container {
     width: 100%;
     max-width: 300px;
     padding: 10px;
 }

 .box-title {
     font-size: 3rem;
     margin-bottom: 10px;
 }

 .box-desc {
     font-size: 1.5rem;
 }

 .box-img {
     width: 100%;
     height: auto;
     border-radius: 50%;
 }

 .company-journey,
 .our-team {
     width: 100%;
     /* text-align: center; */
     padding: 20px 50px;
 }

 .journey-title {
     font-size: 4.5rem;
     text-align: center;
     margin-bottom: 20px;
 }

 .members {
     display: flex;
     gap: 50px;
     width: 100%;
     align-items: center;
     justify-content: center;
     flex-wrap: wrap;

 }

 /* Additional styling for Journey component cards */
 .journey-container {
     display: flex;
     flex-wrap: wrap;
     gap: 20px;
     /* justify-content: center; */
     padding: 20px;
 }

 /* Bootstrap social link styles  */

 .social-link {
     width: 30px;
     height: 30px;
     border: 1px solid #ddd;
     display: flex;
     align-items: center;
     justify-content: center;
     color: #666;
     border-radius: 50%;
     transition: all 0.3s;
     font-size: 0.9rem;
 }

 .social-link:hover,
 .social-link:focus {
     background: #ddd;
     text-decoration: none;
     color: #555;
 }

 /* Media Queries for Responsiveness */
 @media (max-width: 1200px) {
     .info {
         padding: 20px;
     }

     .care-about,
     .help-society {
         flex-direction: column;
         padding: 20px;
     }

     .care-about .text-container,
     .help-society .text-container {
         width: 90%;
     }

     .care-about .img-container,
     .help-society .img-container {
         width: 80%;
         margin: 20px 0;
     }

     .box-title {
         font-size: 2rem;
     }

     .box-desc {
         font-size: 1rem;
     }

     .members {
         flex-direction: column;
         /* gap: 80px; */
     }
 }

 @media (max-width: 768px) {
     .hero-container {
         padding: 10px;
     }

     #about-title {
         font-size: 2.5rem;
     }

     .about-desc {
         font-size: 1rem;
     }

     .info {
         padding: 10px;
         font-size: 1rem;
     }

     .box-title {
         font-size: 1.8rem;
     }

     .box-desc {
         font-size: 0.9rem;
         width: 80%;
     }

     .care-about .img-container,
     .help-society .img-container {
         width: 100%;
     }
 }

 @media (max-width: 480px) {
     #about-title {
         font-size: 2rem;
     }

     .about-desc {
         font-size: 0.9rem;
     }

     .info {
         font-size: 0.9rem;
     }

     .box-title {
         font-size: 1.5rem;
     }

     .box-desc {
         font-size: 0.8rem;
     }
 }

 /* ++++++++++++++++++++++++++++++++++++++Code to be made responsive++++++++++++++++++++++++++++++++++++ */
 .card-container {
     display: flex;
     justify-content: space-around;
     align-items: center;
     width: 100%;
     gap: 00px;
 }
.card-text-container{
    width: 700px;
}
 .card-profile-photo {
     /* border-radius: 50%; */
     /* transform: scale(0.5); */
      height: 300px;
     /* width: 230px;  */
 }